  <div class="header">
    
    <a title="Home" class="logo" href="http://www.relatefoundation.org"><img src="../images/logo.png" style="border-width:0px;"></a>
    
  </div><!-- header -->


  <div class="page">
    <h1>Relate Institute Purchasing Page</h1>
    
    <div class="pageRight">
      <h2>Purchase Information<br /><br /></h2>
      
      <div class="descriptionItems">
      <h3>
        <%= h @description %> <br /><br />
        All purchases from the Relatefoundation are final.  No refunds will be offered after a survey has been completed.  Upon completion of the survey, your report will be provided to you via e-mail. <br /><br />
        <h2>Total Price:  $<%= h @amount %> <br /><br /></h2>
      </h3>
      </div><!-- descriptionItems -->
    
    </div><!-- pageRight -->
      
    <div class="pageLeft">

<% if @result -%> 
  
  <div style="color: red;"><%= h @result.errors.size %> error(s)</div>
  <% for error in @result.errors %>
    <%= error.message %><br>
  <% end %>
<% end -%>
<%= form_for :transaction,
     :params => @result && @result.params[:transaction],
     :errors => @result && @result.errors.for(:transaction),
     :builder => ApplicationHelper::BraintreeFormBuilder,
     :url => Braintree::TransparentRedirect.url,
     :html => {:autocomplete => "off"} do |f| -%>
  <%= field_set_tag "Customer" do -%>
    <%= f.fields_for :customer do |c| -%>
      <div><%= c.label :first_name, "First Name" %></div>
      <div><%= c.text_field :first_name %></div>
      <div><%= c.label :last_name, "Last Name" %></div>
      <div><%= c.text_field :last_name %></div>
      <div><%= c.label :email, "Email" %></div>
      <div><%= c.text_field :email %></div>
    <% end -%>
  <% end -%>
  <%= field_set_tag "Credit Card" do -%>
    <%= f.fields_for :credit_card do |c| -%>
      <div><%= c.label :number, "Number" %></div>
      <div><%= c.text_field :number %></div>
      <div><%= c.label :expiration_date, "Expiration Date (MM/YY)" %></div>
      <div><%= c.text_field :expiration_date %></div>
      <div><%= c.label :cvv, "CVV" %></div>
      <div><%= c.text_field :cvv %></div>
    <% end -%>
  <% end -%>
  <%= hidden_field_tag :tr_data, Braintree::TransparentRedirect.transaction_data(
    :redirect_url => confirm_payment_url,
    :transaction => {:type => "sale", :amount => @amount, :custom_fields => {:callb => @callb, :user_id => @user_id, :description => @description}}
  ) %>
  <br />
  <%= f.submit "Submit Payment" %>  <span style="text-align:right;"><%= link_to 'Cancel', cancel_payment_path(:callb => @callb) %></span>
<% end -%>

      </div><!-- pageLeft -->
  
      <div class="footer">
  
        <div class="footerLeft">
          &copy; 2011
          <span id="ct100_lblCopyright">RELATE Institute. All Rights Reserved.</span>
        </div><!-- footer left -->
      
      <div class="footerRight">

      	<select name="ctl00$LanguageArea$cultureDropDown" onchange="javascript:setTimeout('__doPostBack(\'ctl00$LanguageArea$cultureDropDown\',\'\')', 0)" id="ctl00_LanguageArea_cultureDropDown">
      	<option selected="selected" value="1">English (United States)</option>
      	<option value="2">English (United Kingdom)</option>
      	<option value="3">italiano (Italia)</option>
      	<option value="4">Espa&#241;ol (M&#233;xico)</option>
      	<option value="10">Portugu&#234;s (Brasil)</option>
      	<option value="11">svenska (Sverige)</option>
      	<option value="12">Deutsch (Deutschland)</option>
      	<option value="13">T&#252;rk&#231;e (T&#252;rkiye)</option>
      	<option value="14">中文(中华人民共和国)</option>
      	<option value="15">日本語 (日本)</option>
      	<option value="17">English (Australia)</option>
      	<option value="24">한국어 (대한민국)</option>

      </select>					

      </div><!-- footerRight -->
    
      					<a id="ctl00_lnkBtmPrivacy" href="About/Privacy.aspx">Privacy policy</a>
      					|
      					<a id="ctl00_lnkBtmAboutUs" href="About/Default.aspx">About us</a>
      					|
      					<a id="ctl00_lnkBtmContactUs" href="About/ContactUs.aspx">Contact us</a>
      					|
      					<a id="ctl00_lnkBtmFaq" href="About/Faq.aspx">Help</a>      
    
    </div><!--footer -->
  </div><!-- page -->
  